<h3>Triggering a measurement</h3>
<p>MeasureMe can measure any number of subjective measurements. The mearurement can be triggered from an alarm or manually. The lowest friction mechanism is to create an alarm to prompt you to record a measurement. The prompt will appear over any running activity, it can even wake your phone up and appear over the lock screen, then it will disappear. For some measurements it is not ideal to set an alarm and a manually triggered measurement is more useful. In these cases setup the measurement but do not select any days that the alarm is allowed to ring, the measurement can then only be triggered manually by selecting the icon on the main list.</p>
<h3>Create an alarm</h3>
<p>Alarms can be setup to be triggered with intervals from minutes to weeks. For example you can measure your sleep every day or measure your satisfaction with life every week. The alarm can be setup to only ring on certain days or hours, by default alarms do not trigger during the night.</p>
<p>You can select any number of measures to be taken when the alarm triggers, if you only select one trigger then the measurement screen can be dismissed with one press, if you are taking multiple measurements then the measurement screen will wait for as many selections as you want to make.</p>
<p>You can test the alarm by selecting Measure Now</p>
<h3>Adjust your settings</h3>
<p>Select settings from the main screen. If you disable alarms then no alarms will be triggered, this can be convenient if you do not want to take measurements for a while. You can specify how you want to be alerted to take a measurement by selecting the sound or vibrate.</p>
<h3>Check the alarm will be triggered</h3>
<p>Each alarm will also display the next date and time it will be triggered.</p>
<p>Because you can select which days and hours the alarm is allowed to trigger and you can also specify a start time its possible to setup an alarm that will never trigger if that is the case it will be displayed as being a manual measurement.</p>
<h3>Analyze the results</h3>
<p>The measurements are stored in CSV text files on you SD card in a folder called MeasureMe. You could analyze them on your device or if you prefer you can send them to yourself (or anyone else) so then can be loaded into a spreadsheet. Select Send Measurements from the Edit Alarm screen or Send All Measurements from the main screen.</p>
<p>There are some <a href="https://drive.google.com/folderview?id=0B23to89C5IkuNkotMXJzQXJlUDQ&usp=sharing">example spreadsheets</a> available to get you started analysing the results.</p>